html, body {
 	height: 100%;
 	margin: 0; 
 	padding: 0; 
}
#head{
	background-color:#A43F41;
	text-align:center;
}
#map{ 
	height: 85%;
	width:100%;
}
.open{
	height: 30px;
	width: 30px;
	cursor: pointer;
}
#open{
	position: absolute;
	left: 10px;
	top: 16%;
	margin: 5px;
}
#close
{
	float: left;
	width: 30px;
}
#search
{
	width:250px;
	float: left;
}
#closelist{
	float:left;
	height: 30px;
	width: 30px;
	background-color: #f1593a;
	position: relative;
	top: 0;
	left: 0;
}

#listview{
	height: 86.5%;
    width: 0;
    position:fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    left: 0;
    top: 13.5%;
    background-color: #313435;
    padding-top: 30px;
}


.textbox{
	opacity: 0.8;
	color:#12131f;
	font-size: 20px;
	width: 200px;
	height: 40px;
	margin-top: 5px;
	border-radius: 10px;
	text-align: center;
	margin-left: 15px;
}

.searchbox{
	margin-left: 5px;	
}

ul{
	padding-left:10px;
}

li{
	color:#79cc21;
	min-height: 30px;
	width: 100%;
	padding-top: 6px;
	padding-bottom: 5px;
	list-style: none;
	font-size: 20px;
	border: 1px solid black;
	border-left: none;
	border-right: none;

}

li:hover{
	background-color: #181a1b;
	cursor: pointer;
}

.bold{
	font-size: 15px;
	font-weight: bold;
}